nav {
  min-height: 10vh; }

.navbar .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
  margin-right: 1.4rem; }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; }

.button {
  font-size: 1.1rem !important;
  font-weight: 800;
  padding: 0.8rem;
  background-image: linear-gradient(90deg, #38d39f, #38a4d3, #38d39f);
  border: 3px solid transparent;
  border-radius: 4px;
  display: block;
  max-width: 53%;
  margin: auto; }

.primary-button:hover {
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); }

.site-banner .row-hero {
  min-height: 90vh; }

.site-banner .hero-img {
  pointer-events: none;
  width: 370px; }

.site-banner .wave {
  display: none;
  position: absolute !important;
  top: 0%;
  right: 0%;
  z-index: -1;
  height: 100%;
  pointer-events: none; }

.site-banner .title-text {
  margin: 0.5rem !important;
  padding: 0.3rem;
  font-size: 1.4rem !important;
  font-weight: 800;
  letter-spacing: 0.15rem; }

@media only screen and (min-width: 768px) {
  .wave {
    display: block !important; }
  .hero-img {
    width: 650px !important; }
  .button {
    font-size: 1.3rem; }
  .title-text {
    font-size: 1.8rem !important; } }

.about-section {
  min-height: 100vh;
  position: relative; }
  .about-section .row-about {
    min-height: 100vh; }
  .about-section .about-img {
    width: 320px;
    order: 2;
    pointer-events: none; }
  .about-section .about-intro {
    order: 1; }
    .about-section .about-intro h2 {
      font-size: 1.4rem !important;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      font-weight: 800; }
    .about-section .about-intro p {
      line-height: 2rem;
      padding: 0 1rem;
      font-size: 1.1rem;
      font-weight: 300; }

@media only screen and (min-width: 768px) {
  .about-intro h2 {
    font-size: 2rem !important; }
  .about-intro p {
    padding: 0 !important;
    margin: 0 !important; } }

@media only screen and (min-width: 992px) {
  .about-img {
    order: 1 !important; }
  .about-intro {
    order: 2 !important; } }

.services-area {
  min-height: 100vh !important;
  padding: 1rem 2rem 1rem 2rem !important; }

.site-main .services-area .services-title {
  padding: 0 10rem; }

.site-main .services-area .services-title h1 {
  font-size: 1.4rem !important;
  font-weight: 800;
  letter-spacing: 0.15rem;
  padding: 1rem !important; }

.site-main .services-area .services-title p {
  font-size: 1.1rem;
  font-weight: 300; }

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.9);
  padding: 2rem 0;
  width: 16rem;
  margin: 4rem 0.5rem 5rem 0.5rem;
  transition: box-shadow 0.7s ease; }

.site-main > .services-area .services:hover {
  box-shadow: 0px 10px 30px rgba(56, 164, 211, 0.9); }

.card-body h5 {
  font-size: 1.2rem;
  font-weight: 800; }

.card-body p {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300; }

.accord-bg {
  background: rgba(248, 252, 253, 0.9) !important;
  font-size: 1rem;
  font-weight: 300; }

.accord-title {
  font-size: 1rem !important;
  font-weight: 600 !important;
  letter-spacing: 0.02rem; }

@media only screen and (max-width: 1200px) {
  .site-main > .services-area .services {
    padding: 0.8rem;
    width: 13.8rem;
    margin: 4rem 0.5rem 5rem 0.5rem !important; } }

@media only screen and (max-width: 992px) {
  .site-main > .services-area .services {
    padding: 0.4rem;
    width: 13.8rem;
    margin: 1rem !important; }
  .services {
    margin: 0.5rem !important; }
  .services-title {
    padding: 0.3rem !important; }
  .accordion-section {
    margin: 1.5rem 0 !important; }
  .services {
    margin: 0 auto !important; } }

@media only screen and (max-width: 768px) {
  .site-main > .services-area .services {
    padding: 0.1rem;
    width: 15rem;
    display: block !important;
    margin: 0 auto !important; } }

.project-area {
  min-height: 120vh; }

.site-main .project-area {
  padding: 4rem 0; }

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px "Cormorant Garamond";
  text-transform: uppercase; }

.site-main .project-area .button-group button + button {
  padding-left: 3rem; }

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px "Cormorant Garamond"; }

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf); }

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
  background: linear-gradient(#38a4d3, #38d39f) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  transition: 0.3s ease-in; }

@media only screen and (max-width: 768px) {
  .button-group button {
    padding: 0 5px !important; } }

@media only screen and (max-width: 445px) {
  .button-group button {
    padding: 0 2px !important;
    font-size: 14px !important; } }

.test-title {
  margin-top: 4rem !important;
  font-size: 1.4rem;
  font-weight: 600; }

.site-main .about-area .about-title p {
  padding: 1rem 6rem 0rem 6rem;
  font-size: 1.1rem; }

.site-main .about-area .client {
  background: #ffffff10 !important;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  margin: 3rem 0rem; }

.site-main .about-area .client .client-img {
  padding: 2rem; }

.img-testimonials {
  border-radius: 50%; }

.site-main .about-area .client .about-client {
  padding-top: 2rem; }

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/20px var(--roboto); }

.site-main .about-area .client .about-client p {
  font-size: 14px; }

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem; }

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: #333;
  width: 12px;
  height: 12px; }

@media only screen and (max-width: 1200px) {
  .site-main .about-area .client .about-client p,
  .site-main .about-area .client .about-client h4 {
    text-align: center; }
  .site-main .about-area .about-title p {
    padding: 0.5rem 0; } }

@media only screen and (max-width: 768px) {
  .test-title {
    margin: 1rem 0.5rem !important; } }

@media only screen and (max-width: 600px) {
  .site-main .about-area .about-title p {
    padding: 0 0.8rem !important; }
  .site-main .about-area .client .about-client p {
    padding: 0 1rem !important; } }

.contact-area {
  min-height: 80vh !important; }
  .contact-area .contact-form-area {
    max-width: 450px !important;
    background: #fff;
    -webkit-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.1);
    box-shadow: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
    border-radius: 26px;
    padding: 40px;
    margin-top: 4rem !important;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1; }
  .contact-area .contact-form-area h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3rem; }
  .contact-area .contact-form-area input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #323657;
    padding: 10px 5px;
    color: #323657; }
  .contact-area .contact-form-area input[type="email"] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #323657;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #323657;
    padding: 10px 5px; }
  .contact-area .contact-form-area textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #323657;
    color: #323657;
    padding: 10px 5px; }
  .contact-area .contact-form-area input:focus,
  .contact-area .contact-form-area textarea:focus {
    outline: none; }
  .contact-area .send-btn {
    text-align: center;
    margin-top: 1.5rem; }
  .contact-area #formsend {
    background: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
    color: #fff;
    border: none;
    padding: 12px 42px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 68px;
    width: 100%;
    margin-top: 1rem; }
  .contact-area #formsend:hover {
    background: linear-gradient(#38d39f 0%, #38a4d3 100%); }

@media only screen and (max-width: 425px) {
  .contact-form-area {
    margin: 1rem !important; }
  .contact-form-area {
    box-shadow: none !important;
    margin: 0 0 0 0.3rem !important;
    padding: 0.5rem !important; }
  .contact-form-area h1 {
    font-size: 2.3rem !important; } }

.main-footer {
  position: relative;
  width: 98vw;
  min-height: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.first-part {
  display: flex;
  justify-content: center;
  align-items: center; }

.first-part h2 {
  font-size: 2rem;
  text-align: center; }

.middle {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-social {
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #38a4d3;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 4; }

.btn-social i {
  line-height: 65px;
  font-size: 26px;
  transition: 0.2s linear; }

.btn-social:hover i {
  transform: scale(1.3);
  color: #f1f1f1; }

.btn-social::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(#38d39f, #38a4d3);
  transform: rotate(45deg);
  left: -110%;
  top: 90%; }

.btn-social:hover::before {
  animation: slide 0.7s 1;
  top: -10%;
  left: -10%; }

@keyframes slide {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }

@media only screen and (max-width: 1200px) {
  .first-part h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 992px) {
  .main-footer {
    grid-template-columns: 1fr; }
  .middle {
    order: 1 !important;
    margin: 1rem; }
  .first-part {
    order: 2 !important;
    margin-bottom: 1rem !important; } }

@media only screen and (max-width: 425px) {
  .first-part h2 {
    font-size: 1.1rem !important; }
  .middle :nth-child(4) {
    display: none; } }

@keyframes opening {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Music Animation */
#music-one {
  animation: music 1.5s ease infinite alternate; }

#music-two {
  animation: music 1.5s ease infinite alternate 0.5s; }

#music-three {
  animation: music 1.5s ease infinite alternate; }

@keyframes music {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(3%); } }

/* Plant Animation */
#plant-left {
  animation: plant 1.5s ease infinite alternate; }

#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s; }

@keyframes plant {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(-13%); } }

/* Animation Guy */
#me {
  animation: me 1.2s ease infinite alternate;
  transform-origin: bottom; }

@keyframes me {
  from {
    transform: rotateZ(-5deg); }
  to {
    transform: rotateZ(5deg); } }

/* Clock */
#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom; }

@keyframes clock {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

html {
  scroll-behavior: smooth !important; }

body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  overflow-x: hidden !important;
  animation: opening 1.5s ease-in-out forwards;
  overflow-x: hidden; }

.contain {
  width: 86% !important;
  margin: 0 auto !important; }

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  z-index: 999;
  transition: background 1s ease; }

.flex-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.to-top {
  background: linear-gradient(#38d39f, #38a4d3);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s; }

.to-top.active-scroll {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 4; }

.to-top.active-scroll:hover {
  transform: scale(1.2);
  color: white !important; }

.navbar-toggler {
  border: none !important; }

@media only screen and (max-width: 563px) {
  .to-top {
    display: none !important; } }


/*# sourceMappingURL=/main.77bb5cfd.css.map */