//! NEW
.about-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section-new {
  background: url(../img/intro-img.jpg) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 120px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 1rem;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section-new {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section-new {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
