// ! ******* Variables *******
$first-color: #38d39f;
$second-color: #38a4d3;
$title-color: #141313;
$text-color: #36373a;
$border-color: #1c1f32;
$gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$title-size: 1.4rem;
$text-size: 1.1rem;

.about-section {
  min-height: 100vh;
  position: relative;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 50%;
  //   height: 50%;
  //   background: #f2f2f6;
  //   right: 0;
  //   bottom: 0;
  //   opacity: 0.8;
  //   z-index: -10;
  // }
  .row-about {
    min-height: 100vh;
  }
  .about-img {
    width: 320px;
    order: 2;
    pointer-events: none;
  }
  .about-intro {
    order: 1;

    h2 {
      font-size: 1.4rem !important;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      font-weight: 800;
    }

    p {
      line-height: 2rem;
      padding: 0 1rem;
      font-size: $text-size;
      font-weight: 300;
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-intro {
    h2 {
      font-size: 2rem !important;
    }

    p {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  .about-img {
    order: 1 !important;
  }

  .about-intro {
    order: 2 !important;
  }
}
