.main-footer {
  position: relative;
  min-height: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.first-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-part h2 {
  font-size: 1.3rem;
  text-align: center;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-social {
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #222;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 4;
}
.btn-social i {
  line-height: 65px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn-social:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn-social::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #222;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn-social:hover::before {
  animation: slide 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes slide {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@media only screen and (max-width: 1200px) {
  .first-part h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .middle {
    order: 1 !important;
    margin: 1rem;
  }

  .first-part {
    order: 2 !important;
    margin-bottom: 1rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .first-part h2 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 425px) {
  .middle :nth-child(4) {
    display: none;
  }
}
