//! NavBar
nav {
  min-height: 10vh;
}

.navbar-brand {
  margin-left: 1.5rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
  margin-right: 1.4rem;
  position: relative;
  transition: all 0.9s;

  &:hover {
    font-weight: 900;
    transition: 0.9s;
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background: #c0c0c0;
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
  }

  &:hover:after {
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
  }
}
//! End NavBar

//! Hero
.site-banner {
  .row-hero {
    min-height: 90vh;
  }

  .hero-img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
    max-height: 550px;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(2);
  }

  .reveal-img {
    position: absolute;
    width: 100%;
    height: 150%;
    background: #fff;
    left: 0;
    top: -15%;
  }

  .intro-text {
    margin-top: 1rem;
  }
  .content-inner {
    text-transform: uppercase;
  }

  .content-inner h1 {
    font-family: "Nanum Myeongjo", serif;
    color: #292b31;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: left;
    font-weight: 300;
  }

  .line {
    overflow: hidden;
    height: 70px;
    position: relative;
    span {
      position: absolute;
    }
  }
}

.scrolldown {
  display: none;
}

.scrolldown::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #000;
  width: 65px;
  margin: 0 10px 0 0;
  transform: translateY(-3px);
}
//! End Hero

//! Media Queries
@media only screen and (min-width: 768px) {
  .content-inner h1 {
    font-size: 3.2rem !important;
    line-height: 5rem !important;
    letter-spacing: 0.1rem;
    .line {
      height: 85px;
    }
  }

  .intro-text {
    margin-top: 1.5rem !important;
  }

  .navbar-brand {
    margin-left: 4rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .content-inner h1 {
    font-size: 3.2rem !important;
    line-height: 5rem !important;
    letter-spacing: 0.1rem;
    .line {
      height: 110px !important;
    }
  }
}

@media only screen and (min-width: 1150px) {
  .content-inner h1 {
    font-size: 3.7rem !important;
    line-height: 5rem !important;
    letter-spacing: 0.1rem;
    .line {
      height: 120px !important;
    }
  }
}

@media only screen and (min-width: 1430px) {
  .content-inner h1 {
    font-size: 4.3rem !important;
    letter-spacing: 0.1rem;
    .line {
      height: 125px !important;
    }
  }

  .navbar-brand {
    margin-left: 5rem !important;
  }
}

@media only screen and (min-width: 1600px) {
  .content-inner h1 {
    font-size: 5rem !important;
    letter-spacing: 0.1rem;
    .line {
      height: 130px !important;
    }
  }
  .intro-text {
    margin-top: 2.5rem !important;
  }
  .navbar-brand {
    margin-left: 7rem !important;
  }
}
