// ! ******* Variables *******
$first-color: #38d39f;
$second-color: #38a4d3;
$title-color: #141313;
$text-color: #36373a;
$border-color: #1c1f32;
$gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$title-size: 1.4rem;
$text-size: 1.1rem;

//! NavBar
nav {
  min-height: 10vh;
}
.navbar .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
  margin-right: 1.4rem;

  &:hover {
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
//! End NavBar

//! ********** Button Contact Me *********
.button {
  font-size: 1.1rem !important;
  font-weight: 800;
  padding: 0.8rem;
  background-image: linear-gradient(90deg, #38d39f, #38a4d3, #38d39f);
  border: 3px solid transparent;
  border-radius: 4px;
  display: block;
  max-width: 53%;
  margin: auto;
}

.primary-button:hover {
  box-shadow: $shadow-color;
}

//! Hero
.site-banner {
  .row-hero {
    min-height: 90vh;
  }

  .hero-img {
    margin: 0;
    padding: 0;
  }

  .intro-text {
    margin-top: 4rem;
  }

  .title-text {
    margin: 0.5rem !important;
    padding: 0.3rem;
    font-size: 1.4rem !important;
    font-weight: 800;
    letter-spacing: 0.15rem;
  }
}

//! End Hero

@media only screen and (min-width: 768px) {
  .hero-img {
    width: 650px !important;
  }
  .button {
    font-size: 1.3rem;
  }
  .title-text {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .intro-text {
    margin-top: 0 !important;
  }
}
