// ! ******* Variables *******
$first-color: #38d39f;
$second-color: #38a4d3;
$title-color: #141313;
$text-color: #36373a;
$border-color: #1c1f32;
$gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$title-size: 1.4rem;
$text-size: 1.1rem;

//! NavBar
nav {
  min-height: 10vh;
}

.navbar-brand {
  margin-left: 5rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
  margin-right: 1.4rem;
  // font-family: "Nanum Myeongjo", serif;

  &:hover {
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
//! End NavBar

//! ********** Button Contact Me *********
.button {
  font-size: 1.1rem !important;
  font-weight: 800;
  padding: 0.8rem;
  background-image: linear-gradient(90deg, #38d39f, #38a4d3, #38d39f);
  border: 3px solid transparent;
  border-radius: 4px;
  display: block;
  max-width: 53%;
  margin: auto;
}

.primary-button:hover {
  box-shadow: $shadow-color;
}

//! Hero
.site-banner {
  .row-hero {
    min-height: 90vh;
  }

  .hero-img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
    max-height: 550px;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(2);
  }

  .reveal-img {
    position: absolute;
    width: 100%;
    height: 150%;
    background: #fff;
    left: 0;
    top: -15%;
  }

  .intro-text {
    margin-top: 4rem;
  }
  .content-inner {
    text-transform: uppercase;
  }

  .content-inner h1 {
    font-family: "Nanum Myeongjo", serif;
    color: #292b31;
    font-size: 4.4rem;
    line-height: 7rem;
    letter-spacing: 0.1rem;
    text-align: left;
    font-weight: 300;
  }

  .line {
    overflow: hidden;
    height: 100px;
    position: relative;
    span {
      position: absolute;
    }
  }
}

.scrolldown {
  transform: rotate(-90deg) !important;
  position: relative;
  left: -48%;
  top: 10% !important;
}

.scrolldown::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #000;
  width: 65px;
  margin: 0 10px 0 0;
  transform: translateY(-3px);
}

//! End Hero

@media only screen and (min-width: 768px) {
  .hero-img {
    width: 650px !important;
  }
  .button {
    font-size: 1.3rem;
  }
  .title-text {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .intro-text {
    margin-top: 0 !important;
  }
}
