.project-area {
  min-height: 120vh;
}

.site-main .project-area {
  padding: 1rem 0;
  margin: 1rem;
}

.site-main .project-area .title-project {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.15rem;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 20px/3.5rem "Cormorant Garamond";
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 1.5rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 0.125rem;
}

.site-main .project-area .grid .our-project > .title span {
  font-size: 0.9rem;
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.15) drop-shadow(1px 8px 30px #b1afaf);
}

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  color: #b1afaf !important;
  transition: 0.3s ease-in;
}

//! Media Queries

@media only screen and (max-width: 992px) {
  .site-main .project-area .button-group button {
    font: normal 500 17px/2rem "Cormorant Garamond";
  }
}

@media only screen and (max-width: 768px) {
  .button-group button {
    padding: 0 5px !important;
  }
  .site-main .project-area .button-group button {
    font: normal 500 15px/2rem "Cormorant Garamond";
  }
}

@media only screen and (max-width: 445px) {
  .button-group button {
    padding: 0 2px !important;
    font-size: 14px !important;
  }

  .site-main .project-area .button-group button {
    font: normal 300 14px/2rem "Cormorant Garamond" !important;
    padding: 0 5px 5px 0 !important;
  }
}
