.services-area {
  min-height: 100vh !important;
  padding: 1rem 2rem 1rem 2rem !important;
}

.site-main .services-area .services-title {
  padding: 0 10rem;
}

.site-main .services-area .services-title h1 {
  font-size: 1.6rem !important;
  font-weight: 800;
  letter-spacing: 0.15rem;
  padding: 1rem 1rem 0.5rem 1rem !important;
}
.site-main .services-area .services-title p {
  font-size: 1.1rem;
  font-weight: 300;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.9);
  padding: 2rem 0;
  width: 16rem;
  margin: 4rem 0.5rem 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: 0px 10px 30px #00000070;
}

.four-cards {
  min-height: 280px;
}

.card-body h5 {
  font-size: 1.2rem;
  font-weight: 800;
}

.card-body p {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.accord-bg {
  background: rgba(248, 252, 253, 0.9) !important;
  font-size: 1rem;
  font-weight: 300;
}
.accord-title {
  font-size: 1rem !important;
  font-weight: 600 !important;
  letter-spacing: 0.02rem;
}

//! Media Queries

@media only screen and (max-width: 1200px) {
  .site-main > .services-area .services {
    padding: 0.8rem;
    width: 13.8rem;
    margin: 4rem 0.5rem 5rem 0.5rem !important;
  }
}

@media only screen and (max-width: 992px) {
  .site-main > .services-area .services {
    padding: 0.4rem;
    width: 13.8rem;
    margin: 1rem !important;
  }
  .services {
    margin: 0.5rem !important;
  }
  .services-title {
    padding: 0.3rem !important;
  }
  .accordion-section {
    margin: 1.5rem 0 !important;
  }
  .services {
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .site-main > .services-area .services {
    padding: 0.1rem;
    width: 15rem;
    // margin-bottom: 1rem !important;
    display: block !important;
    margin: 0 auto !important;
  }
}
