.test-title {
  margin-top: 1.5rem !important;
  font-size: 1.4rem;
  font-weight: 800;
}

.site-main .about-area .about-title p {
  padding: 0 2rem;
  margin: 1.5rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.site-main .about-area .client {
  background: #ffffff10 !important;
  box-shadow: 0px 5px 15px rgba(56, 164, 211, 0.9);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}
.img-testimonials {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
}
.site-main .about-area .client .about-client {
  padding-top: 1.3rem;
}

.site-main .about-area .client .about-client h4 {
  font-size: 1.2rem;
  text-transform: capitalize !important;
  font-family: cursive;
  color: gray;
  font-weight: 600;
}

.site-main .about-area .client .about-client p {
  font-size: 0.9rem;
  font-weight: 200;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: #333;
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 1200px) {
  .site-main .about-area .client .about-client p,
  .site-main .about-area .client .about-client h4 {
    text-align: center;
  }
}

.client-img {
  display: flex !important;
  justify-content: center !important;
  align-self: center !important;
}
