@import "header";
@import "about";
@import "services";
@import "project";
@import "testimonials";
@import "contact";
@import "footer";
@import "animation";

//! OVERLAY
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay span {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.overlay h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

html {
  scroll-behavior: smooth !important;
}
body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  overflow-x: hidden !important;
  animation: opening 1.5s ease-in-out forwards;
  overflow-x: hidden;
}

// ! ******* Variables *******
$first-color: #38d39f;
$second-color: #38a4d3;
$title-color: #141313;
$text-color: #36373a;
$border-color: #1c1f32;
$gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$title-size: 1.4rem; // 800
$text-size: 1.1rem; // 300

.contain {
  width: 86% !important;
  margin: 0 auto !important;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  z-index: 999;
  transition: background 1s ease;
}

//! HELPERS
.flex-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//!  Back to Top Btn
.to-top {
  background: linear-gradient(#38d39f, #38a4d3);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s;
}

.to-top.active-scroll {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 4;
}
.to-top.active-scroll:hover {
  transform: scale(1.2);
  color: white !important;
}

//! No border on button
.navbar-toggler {
  border: none !important;
}

@media only screen and (max-width: 563px) {
  .to-top {
    display: none !important;
  }
}
