@import "header";
@import "about";
@import "services";
@import "project";

html {
  scroll-behavior: smooth !important;
}
body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  background: #fff;
  font-size: 1.3rem;
  overflow-x: hidden !important;
  animation: opening 1.5s ease-in-out forwards;
}

// ! ******* Variables *******
$first-color: #38d39f;
$second-color: #38a4d3;
$title-color: #141313;
$text-color: #36373a;
$border-color: #1c1f32;
$gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);

.contain {
  width: 86% !important;
  margin: 0 auto !important;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.8;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  z-index: 999;
  transition: background 1s ease;
}

//! HELPERS
.flex-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
