@import "header";
@import "about";
@import "services";
@import "project";
@import "testimonials";
@import "contact";
@import "footer";

//! ANIMAITON
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//! Overlay
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  color: white;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay span {
  font-family: "Nanum Myeongjo", serif;
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.overlay h1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 7rem;
  letter-spacing: 0.2rem;
}

//! End of Overlay

html {
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  overflow-x: hidden !important;
  animation: opening 1.5s ease-in-out forwards;
  overflow-x: hidden;
}

// // ! ******* Variables *******
// $first-color: #38d39f;
// $second-color: #38a4d3;
// $title-color: #141313;
// $text-color: #36373a;
// $border-color: #1c1f32;
// $gradient-color: linear-gradient(90deg, #38d39f 0%, #38a4d3 100%);
// $shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
// $title-size: 1.4rem; // 800
// $text-size: 1.1rem; // 300

//! Contain
.contain {
  width: 86% !important;
  margin: 0 auto !important;
}

//! Helpers
.flex-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//!  Back to Top Btn
.to-top {
  background: #222;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
}

.to-top.active-scroll {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 4;
}
.to-top.active-scroll:hover {
  transform: translateY(-1px);
  color: #fff !important;
}

//! No border on menu button
.navbar-toggler {
  border: none !important;
}

@media only screen and (max-width: 563px) {
  .to-top {
    display: none !important;
  }
}

//! Bottom Lines
.bottom-about {
  height: 3px;
  width: 6rem;
  background: #c0c0c0;
  margin: 0 auto 1rem 1rem;
}

.bottom-line {
  height: 3px;
  width: 7rem;
  background: #c0c0c0;
  display: block;
  margin: 0 auto 1rem auto;
}

.bottom-project {
  height: 3px;
  width: 7rem;
  background: #c0c0c0;
  display: block;
  margin: 1.2rem auto 2rem auto;
}
